doctype
html
	head
		title= "Reddit Botnet Admin"
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
		link(rel='stylesheet', href='/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		style.
			#anns .usr {
				margin-right: 10px;
				color: darkorange;
			}

			.games button{
				position: absolute;
				height: 80%;
				top:10%;
				right: 10px;
			}

			.val {
				margin-left: 5px;
				margin-right: 10px;
			}

	body
		nav.navbar.navbar-inverse
			div.container
				div.navbar-header
					div.navbar-brand Reddit Botnet Admin Panel
				ul.nav.navbar-nav
					li
						a(href="/") Home
					li 
						a Players 
							span.badge=players.length
					li 
						a Games 
							span.badge=games.length

		div.container
			div.col-sm-12.well#tools
				button.btn.btn-lg.btn-default(data-toggle="modal",data-target="#join-lobby-modal")
					span.glyphicon.glyphicon-send
					|  Join Game
			
			div.col-sm-12
				h4 Current Offical Games
				div.list-group.games
					each game, key in games
						if game.gameType == 1
							a.list-group-item.lobby(data-id=game.roomId)
								h4.list-group-item-heading=game.name
								p.list-group-item-text
									span Total Players
									span.val.badge.btn-info=game.totalPlayerCount
									span Known Players
									span.val.badge.btn-info=game.knownPlayerCount
									span Wormholes 
									span.val.badge.btn-info=game.wormholeCount
									span Likenews 
									span.val.badge.btn-info=game.likenewCount
									span Game Id 
									span.val.badge.btn-info=game.roomId
									span Game Level 
									span.val.badge.btn-info=game.level
									span Game Type 
									span.val.badge.btn-info=game.gameType
								button.btn.btn-danger.abandoner(type="button") Abandon

				h4 Current Unoffical Games
				div.list-group.games
					each game, key in games
						if game.gameType == 0
							a.list-group-item.lobby(data-id=game.roomId)
								h4.list-group-item-heading=game.name
								p.list-group-item-text
									span Total Players
									span.val.badge.btn-info=game.totalPlayerCount
									span Known Players
									span.val.badge.btn-info=game.knownPlayerCount
									span Wormholes 
									span.val.badge.btn-info=game.wormholeCount
									span Likenews 
									span.val.badge.btn-info=game.likenewCount
									span Game Id 
									span.val.badge.btn-info=game.roomId
									span Game Level 
									span.val.badge.btn-info=game.level
									span Game Type 
									span.val.badge.btn-info=game.gameType
								button.btn.btn-danger.abandoner(type="button") Abandon



			div.col-sm-12
				h4 Announcement
				div.well#anns(style="height:200px;")
				div.col-sm-8
					input.form-control#annmsg(type="text",value="",placeholder="Message")
				div.col-sm-4
					input.form-control#annusr(type="text",value="havenoammo")



		div.modal.fade#join-lobby-modal(tabindex="-1")
			div.modal-dialog
				div.modal-content
					div.modal-header
						button.close(data-dismiss="modal",aria-label="Close") &times;
						h4.modal-title Join Game
					div.modal-body
						form#create-lobby-form(method="post", action="/api/joinGame")
							div.form-group
								label Game Name
								input.form-control(name="name", type="text", value="MSG215 Room #1")
							div.form-group
								label Player Count
								input.form-control(name="count", type="text", value="1475")
							div.form-group
								label Game Id
								input.form-control(name="gameid", type="text", placeholder="00000")
							div.form-group
								label Retry Timeout (seconds)
								input.form-control(name="retry", type="text", value="120")

					div.modal-footer
						button.btn.btn-default(data-dismiss="modal") Close
						button.btn.btn-primary.btn-ok(name="submit", type="submit", value="") Join
			
		script.
			$(document).ready( function(){
				$('.modal .btn-ok').click(function(){
					$(this).closest('.modal').find('form').submit();
				});

				function apicall(api, data, ok )
				{
					if (typeof ok === "undefined")
					{
						ok = function() {
							location.reload();
						}
					}

					$.ajax({
						type: "POST",
						url:'/api/' + api, 
						data: data,
						dataType: 'json' 
					}).done(function( data ){
						ok(data);
					});
				}

				$('.abandoner').click(function(){
					var gm = $(this).closest('a');
					console.log(gm);
					var gmId = parseInt( gm.attr('data-id') );
					console.log(gmId);
					apicall('abandonGame', { gameid: gmId } );
				});


				function sendChat() {
					var usr = $('#annusr').val();
					var msg = $('#annmsg').val();

					apicall('announcement',  {usr: usr, msg: msg}, function( data ){
						if (data.status == 'ok')
						{
							$('#anns').append('<div class="message"><span class="usr">' + usr + '</span><span>' + msg + '</span></div>');
						}
					});

					//socket.emit('chat', { message: msg });
					$('#annmsg').val('');
				}

				$('#annmsg').keyup(function (e) {
					if (e.keyCode == 13) {
						sendChat();
					}
				});
			});